<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="D:\tag2\TAG_Software\nios\nios_application\nios_application.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\15.0\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="nios_application.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="nios_application"/>
<stringAttribute key="spdPath" value="d:\tag2\TAG_NIOS\tag_nios_system_tb.spd"/>
</launchConfiguration>
